.btn-container {
  margin-left: 10px !important;
}

.btn-img-container {
  display: block;
  text-align: center;
  height: 100%;
  margin: auto;
  align-content: center;
}

.btn-img {
  width: 60%;
}

.ui-dialog-content * {
  line-height: normal !important;
  padding: 10px !important;
}

.small-error {
  display: block;
  color: red;
}

#inputCSV {
  width: calc(100% - 22px);
}

#rows-quantity {
  padding: 0px !important;
}

.execution-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p,span {
    padding: 0px !important;
  }
}

#execution-success {
  display: none;
  text-align: center;
}

.iconModal {
    width: 70px;
    padding: 0px !important;
    display: block;
    margin: auto;
}

div#error p{
  text-align: center;
}
