.btn-container {
  margin-left: 10px !important;
}

.btn-img-container {
  display: block;
  text-align: center;
  height: 100%;
  margin: auto;
  align-content: center;
}

.btn-img {
  width: 60%;
}

.ui-dialog-content * {
  line-height: normal !important;
  padding: 10px !important;
}

.small-error {
  display: block;
  color: red;
}
